* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 10px;
    color: #cdd6f4;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
    border-radius: 6px;
}

#memory, #battery, #pulseaudio, #network, #clock {
    padding: 0 10px;
}

#battery.warning { color: #f9e2af; }
#battery.critical { color: #f38ba8; }
